@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*{
	
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
:root {
	--grey: #F1F0F6;
	--dark-grey: #8D8D8D;
	--light: #fff;
	--dark: #000;
	--green: #81D43A;
	--light-green: #E3FFCB;
	--blue: #1E3B7F;
	--light-blue: #D0E4FF; 
	--dark-blue: #003366	;
	--red: #FC3B56;
    
}

html {
	overflow-x: hidden;
}

.fixed {
position:fixed;
top:0;
left:0;
}

body {
	background:white;
	overflow-x: hidden;
    display: flex;
  font-family: "Roboto", Arial;
  align-items: center;
}

/* PAGE TRANSITION */
body::before {
	content: '';
	position: fixed;
	inset: 0;
	transition: bottom .5s cubic-bezier(0.65, 0.05, 0.36, 1);
	background: var(--blue);
	z-index: 9999;
}
body.hide::before {
	bottom: 100%;
}
/* PAGE TRANSITION */

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4f35a1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a5aaad;
}
a {
	text-decoration: none;
}

li {
	list-style: none;
}
       
input[type=submit] {
        padding:4px;
        color: #fff;
        margin-top:12px;
       
        border: none;
     background-color: #e96000;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff6900), to(#e96000));
        background:  -moz-linear-gradient(25% 75% 90deg, #e96000, #ff6900);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;cursor: pointer;
        border-radius: 4px;
        width: 100px;
}

#search input::placeholder{ 
   color:#4f35a1;
}

/* SIDEBAR */
#sidebar {
	position: fixed;
	max-width: 260px;
	width: 100%;
	background: var(--light);
	top: 0;
	left: 0;
	height: 100%;
	overflow-y: auto;
	scrollbar-width: none;
	transition: all .3s ease;
	z-index: 200;
}
#sidebar.hide {
	max-width: 60px;
}
#sidebar.hide:hover {
	max-width: 260px;
}
#sidebar::-webkit-scrollbar {
	display: none;
}
#sidebar .brand {
	font-size: 24px;
	display: flex;
	align-items: center;
	height: 64px;
	font-weight: 700;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	background: var(--light);
	transition: all .3s ease;
	padding: 0 6px;
}

#sidebar .icon {
	min-width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 6px;
}

#sidebar .icon-right {
	margin-left: auto;
	transition: all .3s ease;
}
#sidebar .side-menu {
	margin: 36px 0;
	padding: 0 20px;
	transition: all .3s ease;
}
#sidebar.hide .side-menu {
	padding: 0 6px;
}
#sidebar.hide:hover .side-menu {
	padding: 0 20px;
}
#sidebar .side-menu a {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: var(--dark);
	padding: 12px 16px 12px 0;
	transition: all .3s ease;
	border-radius: 10px;
	margin: 4px 0;
	white-space: nowrap;
}
#sidebar .side-menu > li > a:hover {
	background: var(--grey);
}
#sidebar .side-menu > li > a.active .icon-right {
	transform: rotateZ(90deg);
}
#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
	background: var(--blue);
	color: var(--light);
}
#sidebar .divider {
	margin-top: 24px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--dark-grey);
	transition: all .3s ease;
	white-space: nowrap;
}
#sidebar.hide:hover .divider {
	text-align: left;
}
#sidebar.hide .divider {
	text-align: center;
}
#sidebar .side-dropdown {
	padding-left: 54px;
	max-height: 0;
	overflow-y: hidden;
	transition: all .15s ease;
}
#sidebar .side-dropdown.show {
	max-height: 1000px;
}
#sidebar .side-dropdown a:hover {
	color: var(--blue);
}
#sidebar .ads {
	width: 100%;
	padding: 20px;
}
#sidebar.hide .ads {
	display: none;
}
#sidebar.hide:hover .ads {
	display: block;
}
#sidebar .ads .wrapper {
	background: var(--grey);
	padding: 20px;
	border-radius: 10px;
}
#sidebar .btn-upgrade {
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 0;
	color: var(--light);
	background: var(--blue);
	transition: all .3s ease;
	border-radius: 5px;
	font-weight: 600;
	margin-bottom: 12px;
}
#sidebar .btn-upgrade:hover {
	background: var(--dark-blue);
}
#sidebar .ads .wrapper p {
	font-size: 12px;
	color: var(--dark-grey);
	text-align: center;
}
#sidebar .ads .wrapper p span {
	font-weight: 700;
}
#sidebar #icon {
	width:200px;
    height: auto;
    margin-top:20px;
    max-width: 100%;height: auto;
}

#sidebar #leftscroll{
    height:100%;
    overflow: auto;
    direction: rtl;
    margin-top:10px;
    direction: rtl;
}
#sidebar #liste_projets{
    direction:ltr;
}
#sidebar .bx-pin{
    position:absolute;
    left:75%;
}

#leftscroll::-webkit-scrollbar{
    width: 4px;
}
/* SIDEBAR */




/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 260px);
	left: 260px;
	transition: all .3s ease;
}
#sidebar.hide + #content {
	width: calc(100% - 60px);
	left: 60px;
}
/* CONTENT */




/* NAVBAR */
nav {
	background:white;
	padding: 0 20px;
	display: flex;
	align-items: center;
	grid-gap: 28px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
}
.top_nav{
    height: 65px;
    border-bottom: 1px solid #dddddd;
}
nav .toggle-sidebar {
	font-size: 18px;
	cursor: pointer;
    color:#4f35a1;
}
nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
nav .form-group {
	position: relative;
}
nav .form-group input {
	width: 100%;
	background: var(--grey);
	border-radius: 5px;
	border: none;
	outline: none;
	padding: 10px 36px 10px 16px;
	transition: all .3s ease;
}
nav .form-group input:focus {
	box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
nav .form-group .icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	color: var(--dark-grey);
}
nav .nav-link {
	position: relative;
}
nav .nav-link .icon {
	font-size: 18px;
	color:#4f35a1;
}
nav .nav-link .badge {
	position: absolute;
	top: -12px;
	right: -12px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light);
	font-size: 10px;
	font-weight: 700;
}
nav .divider {
	width: 1px;
	background: var(--grey);
	height: 12px;
	display: block;
}
nav .profile {
	position: relative;
}
nav .profile img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}
nav .profile .profile-link {
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	background: var(--light);
	padding: 10px 0;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
	border-radius: 10px;
	width: 160px;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;
}
nav .profile .profile-link.show {
	opacity: 1;
	pointer-events: visible;
	top: 100%;
}
nav .profile .profile-link a {
	padding: 10px 16px;
	display: flex;
	grid-gap: 10px;
	font-size: 14px;
	color: var(--dark);
	align-items: center;
	transition: all .3s ease;
}
nav .profile .profile-link a:hover {
	background: var(--grey);
}
nav .profile .profile-link #logout{
    cursor: pointer;
}
/* NAVBAR */





/* MAIN */
main {
	width: 100%;
    overflow: hidden;
    background:inherit;
    padding: 35px 10px 0px 10px;
}

main .title {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
}
main .breadcrumbs {
	display: flex;
	grid-gap: 6px;
}
main .box{
	width:300px;	
	border-radius: 5px;
    background-color:white;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.6s linear;
    --tw-bg-opacity: 1;
    background-color: rgba(254, 202, 202, var(--tw-bg-opacity));
}
main .box .body{
	padding: 10px;
	font-size: 14px;
     --tw-text-opacity: 1;
    color: rgba(185, 28, 28, var(--tw-text-opacity));
}
main .breadcrumbs li,
main .breadcrumbs li a {
	font-size: 14px;
}
main .breadcrumbs li a {
	color: var(--blue);
}
main .breadcrumbs li a.active,
main .breadcrumbs li.divider {
	color: var(--dark-grey);
	pointer-events: none;
}
main .info-data {
	margin-top:20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 20px;
    margin-top:0px;
}
main .info-data #ouvrages{
    display: none;
}
.horizontal-scroll{
    width: 100%;
    height: 200px;
    scroll-behavior: smooth;
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.card{
   
    display: inline-block;
    height:175px;
   
    Padding-top:10px;
    
}
.costum{
    display: inline-block;
    margin: 10px;
    margin-top: 0;
    
}
main .info-data .card {
	padding: 20px;
	border-radius: 10px;
	background: var(--light);
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
}
.horizontal-scroll{
    height: 160px;
}
.card{
    height:145px;
}
.horizontal-scroll .costum .card{
    background:white;
}
.horizontal-scroll .costum .card .head h2{
    color:black;
}
.horizontal-scroll .costum .card .head h2{
    font-size: 12px;
    margin-top: 20px;
}
.horizontal-scroll .costum .card #myForm{
    font-size: 12px;
}
main .info-data .horizontal-scroll::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}
main .info-data .horizontal-scroll::-webkit-scrollbar-thumb {
  background-color: #4f35a1;
  border-radius: 10px;
}  
main .info-data .horizontal-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #a5aaad;
} 
main .card .head {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
main .card .head h2 {
	font-size: 15px;
	font-weight: 600;
}
main .card .head p {
	font-size: 14px;
}
main .card .head .icon {
	font-size: 20px;
	color: var(--green);
}
main .card .head .icon.down {
	color: var(--red);
}
main .card .progress {
	display: block;
	margin-top: 24px;
	height: 10px;
	width: 100%;
	border-radius: 10px;
	background: var(--grey);
	overflow-y: hidden;
	position: relative;
	margin-bottom: 4px;
}
main .card .progress::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: var(--blue);
	width: var(--value);
}
main .card .label {
	font-size: 14px;
	font-weight: 700;
}
main .data {
	display: flex;
	grid-gap: 20px;
	margin-top:60px;
	flex-wrap: wrap;
}
main .data .content-data {  
	flex-grow: 1;
	/*flex-basis: 400px;*/
	padding: 20px;
	background: var(--light);
	border-radius: 10px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
}
main .content-data .head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}
/*main .content-data .head h3 {
	font-size: 20px;
	font-weight: 600;
}*/
main .content-data .head h3 {
     padding: 5px 20px;
  margin: 10px;
  color: #0B5AA2;
  font-weight: bold;font-family: 'Rubik', sans-serif;
  font-size: 20px;
}
main .content-data .head hr {
    width:30%;
  margin: 0px 30px;
  border: 1px solid #0B5AA2; 
}
main .data .content-data .head hr {
  border: 1px solid #4f35a1;
    width:45%;
}
main .content-data .head .menu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;height: 100%;
}
main .content-data .head .menu .icon {
	cursor: pointer;
}
main .content-data .head .menu-link {
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	width: 140px;
	background: var(--light);
	border-radius: 10px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
	padding: 10px 0;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;
}
main .content-data .head .menu-link.show {
	top: 100%;
	opacity: 1;
	pointer-events: visible;
}
main .content-data .head .menu-link a {
	display: block;
	padding: 6px 16px;
	font-size: 14px;
	color: var(--dark);
	transition: all .3s ease;
}
main .content-data .head .menu-link a:hover {
	background: var(--grey);
}
main .content-data .chart {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
	scrollbar-width: none;
}
main .content-data .chart::-webkit-scrollbar {
	display: none;
}

main .chat-box {
	width: 100%;
	max-height: 360px;
	overflow-y: auto;
	scrollbar-width: none;
}
main .chat-box::-webkit-scrollbar {
	display: none;
}
main .chat-box .day {
	text-align: center;
	margin-bottom: 10px;
}
main .chat-box .day span {
	display: inline-block;
	padding: 6px 12px;
	border-radius: 20px;
	background: var(--light-blue);
	color: var(--blue);
	font-size: 12px;
	font-weight: 600;
}
main .chat-box .msg img {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	object-fit: cover;
}
main .chat-box .msg {
	display: flex;
	grid-gap: 6px;
	align-items: flex-start;
}
main .chat-box .profile .username {
	font-size: 14px;
	font-weight: 600;
	display: inline-block;
	margin-right: 6px;
}
main .chat-box .profile .time {
	font-size: 12px;
	color: var(--dark-grey);
}
main .chat-box .chat p {
	font-size: 14px;
	padding: 6px 10px;
	display: inline-block;
	max-width: 400px;
	line-height: 150%;
}
main .chat-box .msg:not(.me) .chat p {
	border-radius: 0 5px 5px 5px;
	background: var(--blue);
	color: var(--light);
}
main .chat-box .msg.me {
	justify-content: flex-end;
}
main .chat-box .msg.me .profile {
	text-align: right;
}
main .chat-box .msg.me p {
	background: var(--grey);
	border-radius: 5px 0 5px 5px;
}
main form {
	margin-top: 6px;
}
main .form-group {
	width: 100%;
	display: flex;
	grid-gap: 10px;
}
main .form-group input {
	flex-grow: 1;
	padding: 10px 16px;
	border-radius: 5px;
	outline: none;
	background: var(--grey);
	border: none;
	transition: all .3s ease;
	width: 100%;
}
main .form-group input:focus {
	box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
main .btn-send {
	padding: 0 16px;
	background: var(--blue);
	border-radius: 5px;
	color: var(--light);
	cursor: pointer;
	border: none;
	transition: all .3s ease;
}
main .btn-send:hover {
	background: var(--dark-blue);
}


#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title.box{
	width:100%;
    height:50px;
    background-color:white;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title #box1{
    margin-left: auto;
    margin-right: auto;
	display: none;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content main .head-title .left .breadcrumb #right_li{
    position:absolute;
    right:5px;
    top:100px;
}
#content main .head-title .left .breadcrumb #trajet{
    color:black;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}
#content main .head-title #save{
    position:absolute;
    right:15px;
    top:200px;
}
#content main .head-title .button {
  --white:#fff;
  --success: #4672f1;
  --text: #fff;
  --blue:#0984e3;
  --checkmark: #fff;
  --shadow: rgba(10, 22, 50, .24);
  display: flex;
  overflow: hidden;
  text-decoration: none;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
   background: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 8px -1px var(--shadow);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height:35px;
    border: 1px solid  var(--blue);
   pointer-events: none;  
}
#content main .head-title .button:hover{
 background: var(--blue);
}
#content main .head-title .button:hover ul{
  color: var(--white);
}
#content main .head-title .button:active {
  transform: scale(0.95);
  box-shadow: 0 1px 4px -1px var(--shadow);
}
#content main .head-title .button ul {
    height:20px;
    width:300px;
  margin: 0;
  padding: 8px 25px;
  list-style: none;
  text-align: center;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
 
  color:var(--blue);font-size: 14px;font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}
#content main .head-title .left h1 {
	color:#4f35a1;
    font-size:30px;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    margin-top:-15px;
}
/* MAIN */
/* CONTENT */


/* Top_Content-Data */

#content main #top_data .content-data{
    background-color: white;
    padding-bottom:0px;
    padding-top:25px;
    padding-left:0px;
    padding-right:0px;
    box-shadow:none;
}

#content main #top_content-data .content-data{
    background: url(../../Dashboard/images/bg.png);
    background-size:cover;
    padding-bottom:0px;
    padding-top:25px;
    padding-left:0px;
    padding-right:0px;
    box-shadow:none;
}
      
.pricing-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.pricing-wrapper #refoulement{
    display: none;
}
.pricing-wrapper .pricing-box {
	width: 285px;
    margin:10px;
    margin-bottom:0px;
    margin-top:0px;
	background:inherit;
	position: relative;
	overflow: hidden;
	transition: transform .5s;
}
.pricing-box .features {
	width: 100%;
}
.pricing-box .features li {
	padding: .4rem 0;
}
.pricing-wrapper .pricing-box #label{
    font-size: 12px;
}
.pricing-wrapper .pricing-box input[type=number]{
    width:50%;
    font-size: 12px;
}
.pricing-wrapper .pricing-box .block{
    cursor: default;
}    
.pricing-wrapper .pricing-box .block::-webkit-inner-spin-button {
    display: none;  
}
.pricing-wrapper .pricing-box select{
    width:55%;
    font-size: 12px;
    border:none;
    border-radius: 4px;
    padding-left: 5px;
    background-color: #F5F5F5;
    cursor: pointer;
}
.pricing-wrapper .pricing-box select:focus {
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:white;
    opacity: 1; /* Firefox */
}
#label { /* Chrome, Firefox, Opera, Safari 10.1+ */
    cursor: default;
    background:inherit;
    font-size: 1rem;
    font-weight: 400;
    display: inline-block; 
    position:relative;
    font-family: Verdana, sans-serif;
    Font-size: 12px;
}
#label:focus {
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}
#custum_btn{
    height:30px;
    margin-top:10px;
}
.btn {
	display: block;
	padding: .4rem 0;
	text-align: center;
	text-decoration: none;
	background: inherit;
	color:white;
	border:1px solid white;
	border-radius: .5rem;
	font-weight: 500;
    font-size: 14px;
	transition: background .5s;
    width:100%;
    cursor:pointer;
    pointer-events: none;
}
.btn:hover{
	background:white;
	color:#4f35a1;
} 
.curveUpColor{
    fill: #fff;
    stroke: #fff;
    left: 0;
    z-index: 1;
}
/* Top_Content-Data */


/* Data_Nav */
.data_nav{
    text-align: center;
    height:auto;
    background:inherit;
    padding-left: 0;
}
.data_nav.main{
    margin-top:50px;
    margin-bottom: 10px;
}
.data_nav.top{
    margin-top:40px;
}
.data_nav.box{
    width:100%;
    margin-top:5px;
    background:white;
    display: none;
}
.data_nav #box2{
   margin-left: auto;
   margin-right: auto;
}
.data_nav ul {
    display: inline-block;
    list-style: none;
}
.data_nav ul li {
    background:inherit;
    float: left;
    text-transform: uppercase;
    color: #555;
    font-weight: 400;
    transition: all 0.2s linear;
    height:25px;	
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}
.data_nav ul li.active{
    background-color: #0984e3;
    color: #fff;
}
.data_nav ul li:not(#right_li):hover{
    background-color: #0984e3;
    color: #fff;
}
.data_nav ul #right_li{
    position:absolute;
    left:0;
}
.data_nav ul #right_li .btn-fixed {
	height:25px;
	padding: 0 16px;
	transition: all .3s ease;
	border-radius: 5px;
	background: #0984e3;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}
.data_nav ul #right_li .btn-fixed:hover{
	background: white;
}
.data_nav ul #right_li .btn-fixed:hover span{
    color:#0984e3;
}.data_nav ul #right_li .btn-fixed:hover i{
    color:#0984e3;
}
.data_nav ul #right_li .btn-fixed span,i{
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
.data_nav ul #right_li .btn-fixed i{
    font-size:14px;
}
.data_nav a {
    color: inherit;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 12px;
}
/*  top-left  top-right   bottom-right  bottom-left */
.data_nav ul li:first-child {
    border-radius: 7px 0 0 7px;
}
.data_nav ul li:last-child {
    border-radius: 0 7px 7px 0;
}
/* Data_Nav */


/* First_Content-Data */
#first_content-data{
    margin:0px; 
    
}
.todo {
	flex-grow: 1;
	flex-basis: 300px;
}
.todo .todo-list {
	width: 100%;
}
.todo .todo-list li {
	width: 100%;height:50px;
	margin-bottom: 14px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
     font-size: 14px;
}
.todo .todo-list li .bx {
	cursor: pointer;
}
.todo .todo-list li.completed {
	border-left: 5px solid #e96000;
}
.todo .todo-list li.not-completed {
	border-left: 5px solid #F2F2F2;
}
.todo .todo-list li:last-child {
	margin-bottom: 0;
}

.todo .form{   
    margin-bottom:25px;
}

#infosWithTable .table input + input {
  margin-left:10px;
}
#infosWithTable .table #label {
  min-width:60%;
}
#infosWithTable .table .valider,#infosWithTable .table .annuler{
    cursor:pointer;
   	display: block;
	background: inherit;
	color:#4f35a1;
	border:1px solid #4f35a1;
	border-radius: .5rem;
	transition: background .5s;;
	padding: .6rem 0;
	text-align: center;
	text-decoration: none;border-radius: .5rem;font-weight: 500;
	transition: background .5s;
}
#infosWithTable .table .annuler{
    opacity: 0.9;
}
#infosWithTable .table .annuler:hover{
    opacity: 1;
}
#infosWithTable .table .valider:hover{
    background-color:#4f35a1;
    color:white;
}
    

    
.todo .todo-list li {
	border-radius: 0px;
    height:45px;
}
.todo .todo-list li.completed {
	border-left: 2px solid #e96000;
}
 .todo .todo-list li.not-completed {
	border-left: 2px solid white;
} 
#infosWithTable::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}
#infosWithTable::-webkit-scrollbar-thumb {
  background-color: #4f35a1;
  border-radius: 10px;
}  
#infosWithTable::-webkit-scrollbar-thumb:hover {
  background-color: #a5aaad;
}
#first_content-data .content-data{
    min-width:345px;
    width:345px;
    background:white;
    flex-direction: column;
    box-shadow:NONE;
    margin-top:10px;
}
#infosWithTable{
    overflow: auto;
    padding: 5px 15px;
}
.todo{
    height:400px;
}
.todo .input{ 
   cursor:default;
}
.todo input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:black;
    opacity: 1; /* Firefox */
}


#first_content-data #second_content-data{
    min-width:350px;
    width:400px;
    box-shadow:NONE;
    background: url(../Dashboard2/images/pattern_2.svg);
    background-size:cover;
}
#first_content-data #second_content-data #costum_table{
    width:100%;
}

/* First_Content-Data */

@media screen and (max-width: 768px) {
	#content {
		position: relative;
		width: calc(100% - 60px);
		transition: all .3s ease;
	}
	nav .nav-link,
	nav .divider {
		display: none;
	}
}

table, th, td {
  border: 1px solid;
}




body input[type=number]{
    font-family: Verdana, sans-serif;
    Font-size: 12px;
    height:30px;   
}
body input[type=number]:focus {
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}
body input[type=checkbox]:focus {
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}


.horizontal-scroll{
    height:168px;
}
.horizontal-scroll .costum{
    margin-top:5;
}
.horizontal-scroll .costum .card{
    background:white;
    height:150px;
    border: 1px solid #dddddd;
    box-shadow:none;
}
.horizontal-scroll .costum .card #inner img{
    height:40px;width: auto;
}
.horizontal-scroll .costum .card #inner .head div{
    width:100%;
}

#first_content-data{
    padding: 0px 0px 0px 0px;
}
#first_content-data #infosWithTable{
    margin-top:0px;
}
#first_content-data #edit{
    background:white;
    padding-bottom:10px;
    padding-left:25px;
    padding-right:25px;
    height:25px;
}
#first_content-data #edit #supprimer{
    position:relative;
    float:right;
}
#first_content-data #edit #annuler{
    background:white;
    color:#e96000;
    border:1px solid #e96000;
}
#first_content-data .todo{
    height:375px;
}
#first_content-data .content-data{
    padding: 20px 0px 0px 0px;
}
#first_content-data #second_content-data{
    min-width:350px;
    width:500px;
}
#first_content-data #second_content-data #costum_table{
    width:100%;
    height:100%;
}
#first_content-data #second_content-data table tbody{
    height:400px;
    display:block;
    overflow:scroll;
    overflow-x:hidden;
}
#first_content-data #second_content-data #perte_charge{
    padding: 5px 15px;
    background: inherit;
}




.table #div{   
    position:relative;
    margin-top:10px;
} 
.table{
    display:none;
}
.fa-angle-left{
    display:none;
}
.bxs-chevron-down{
    display:none;
}  
.costum_li{
   background-color: #0984e3;
   text-transform: uppercase;
   transition: all 0.2s linear;
}
.costum_li li p{
    color:white;
}
.div{
    background:inherit;
    border-radius: 10px;
	margin-top:15px;
    border: 1px solid #dddddd;
    padding:0;
    height:45px;
}
.form{
    height:45px;
    margin-top:0px;
    border-radius: 10px; 
    color:black; 
}
.form:hover{
    background-color: #0984e3;
    text-transform: uppercase;
    transition: all 0.2s linear; 
}
.form:hover p{
   color:white;
}
.form:hover .li{
   color:white;
}
.form p{
    font-family: Verdana, sans-serif;
    Font-size: 12px;
}
.div .form li{
    cursor: pointer;
    background:inherit; 
}
.div .form .li{
    width:100px;
} 
.div .form .li .check{
   
    height:15px; 
} 
.div .form .li input[type=checkbox]:focus {
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}
.table{
    width:100%;
    position:relative;
    padding-left:25px;
    padding-right:25px;
    height:250px;
}
.table form{
    position: relative;    
}
.table #btn{
    position: absolute;
    bottom:20px;
    right: 20px;
}   
#edit{
    display: none;
}    
tbody .active {
    background-color: #0984e3;
}
tbody .active td {
  color: white;
}    
.div .active {
  background-color: #0984e3;
}








table,td{
    border:none;
}

table span{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem; 
    border-radius: 9999px;
    display: inline-block;text-align: center;
} 

#Success{ 
    --tw-bg-opacity: 1;
    background-color: rgba(167, 243, 208, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(4, 120, 87, var(--tw-text-opacity));
}
#Decline{
    --tw-bg-opacity: 1;
    background-color: rgba(254, 202, 202, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(185, 28, 28, var(--tw-text-opacity));
}   
   
thead td {
  font-family: 'Trebuchet MS', sans-serif;
  background:inherit;
  position: sticky;
  top: 0; 
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;background:inherit;
}
table {
    width: 100%;
    border-collapse: collapse;font-family: 'Roboto', sans-serif;
}
td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
}
thead td{
    background-color: #0984e3;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.2s linear;
   padding: 10px 20px;
  text-decoration: none;
  font-size: 12px;
}
thead td:first-child {
  border-radius: 7px 0 0 7px;
}

thead td:last-child {
  border-radius: 0 7px 7px 0;
}
tbody tr:hover{
  background-color: #0984e3;
}
tbody tr:hover td{
  color: white; 
}
tbody tr.active{
  background-color: #0984e3;
}
tbody tr.active td{
  color: white;
}
tbody::-webkit-scrollbar-thumb {
  background-color: #4f35a1;
  border-radius: 10px;
}  
tbody::-webkit-scrollbar{
   width: 4px;
    height: 4px;display: none;
}
tbody::-webkit-scrollbar-thumb:hover {
  background-color: #a5aaad;
}







   
.head-title #left {
  background:white;
  width:200px;
  padding-top:10px;
}   
.head-title #left fieldset {
  border:none;
  width:200px;
  border-radius: 5px; 
  border:none;padding-bottom: 0;height:75px;width:202px;
}
.head-title #left legend{
  color: blue; 
  font-size: 15px;
  font-family: sans-serif;
  padding-left: 5px;
  padding-right: 5px;
}
.head-title #left input {
  font-size: 14px;
  padding:0px;
  padding-left: 10px;
  height: 30px;
  width:200px;
  outline: none;
  color: blue;
  margin-top:25px; 
  background:dodgerblue; /* for IE */         
  color:white !important; 
  border: 1px solid dodgerblue;
  cursor: pointer;
}
.head-title #left input:focus{
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}
.head-title #left datalist {
  position: absolute;
  background-color: white;
  font-family: sans-serif;
  width:200px;
  padding:0px;padding-top:5px;
  max-height: 8rem;
  overflow-y: auto;
  z-index: 1;background-color: white;padding-top:5px;
}
option {
  background-color: white;
  padding: 4px;
  color: blue;
  margin-bottom: 1px;
  font-size: 12px;
  cursor: pointer;
}
option:hover{
  background-color: lightblue;
}
    
.head-title .first{
  padding: 0px;
  background:inherit;
  border:none;   
  background:white;
  width:200px;
  padding:0px;
  padding-top:10px;
}    
.head-title .first  fieldset {
  border:none;
  width:100%;
}
.head-title .first legend{
  color:blue; 
  font-size: 15px;
  font-family: sans-serif;
  padding-left: 5px;
  padding-right: 5px;
}
.head-title .first select {
  background-color:white;
  border:none;
  border-radius: 0 0 0 0;
  border-top: none;
  font-family: sans-serif;
  width:100%;
  height:50px;
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom:0px;
  padding-top:0px;
  max-height: 10rem;
  z-index: 1;
  margin-top:10px;
  overflow: hidden;border: 1px solid blue;border:none;
} 
.head-title .first select:focus{
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}
.head-title .first option {
  background-color: white;
  padding: 4px;
  color:black;
  margin-bottom: 1px;
  font-size: 12px;
  cursor: pointer;
}
.head-title .first select option:hover,select option:focus,select option:active {        
  background: inherit;
  color: dodgerblue;
  border: 1px solid dodgerblue;
}
.head-title .first select option:checked {
  background: dodgerblue;
  color: white;
  border: 1px solid dodgerblue;
}
    
.btn.edit{
    background:white;
	color:#4f35a1;
}
.btn.edit:hover{
	background: inherit;
	color:white;
}
 

    
#content main .head-title .button{
  background:#98fb98;transition: all .3s ease;
  cursor: pointer;border:none;
}
#content main .head-title .button ul{
  color:white !important;
}    
#content main .head-title .button.save:hover{
 background:#3cb371;
}
#content main .head-title .button.save:hover ul{
  color:white !important;
}
 
 
    
main .box{
	width:250px;	
	border-radius: 5px;
    background-color:white;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.6s linear;
    --tw-bg-opacity: 1;
    background-color: rgba(254, 202, 202, var(--tw-bg-opacity));
    height:auto;
    z-index: 1;
}
main .box .body{
	padding: 5px;
	font-size: 12px;
     --tw-text-opacity: 1;
    color: rgba(185, 28, 28, var(--tw-text-opacity));
}
    
    
tbody::-webkit-scrollbar{
   width: 4px;
   height: 4px;
   display: none;
}
 
.pricing-wrapper .pricing-box{
   width:400px;
}
    
.button.btn-download{
   width:200px;
   transition: all .3s ease;
} 
    
    
.data_nav.main{
    margin-top:40px;
    margin-bottom: 10px;
}
.data_nav.top{
    margin-top:25px;
}
#first_content-data .todo{
    height:430px;
}
#first_content-data #second_content-data table tbody{
    height:425px;
}

 
    
body{min-width:500px;}
    
    
    
    
    
#infosWithTable select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  max-width: 320px;
  float: right;
  margin: 5px 0px;
  padding: 0px 14px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
    
  margin-left:10px;
    
  flex-grow: 1;
	border-radius: 5px;
	outline: none;
	background: var(--grey);
	border: none;
	transition: all .3s ease;
    font-size: 12px;
    height:30px;
    justify-content: center;
	align-items: center;
}

    
    

table td{
     border: none;    
}
table thead td{
     background-color: inherit;
    color: black;
}
table tbody tr:hover{
     background-color:#F8F8FF;
}    
table tbody tr:hover td{
    color: black;
} 
    

    
.form{
    text-transform: uppercase;
}
.form:hover{
    background-color: #F8F8FF;
    text-transform: uppercase;
    transition: all 0.2s linear; 
}
.form:hover p{
   color:black;
}
    
.costum_li{
   background-color:#F8F8FF	;
   text-transform: uppercase;
   transition: all 0.2s linear;
    min-height:500px;
}
.costum_li li p{
    color:black;
}
    
tbody .active_tr {
    background-color: #F8F8FF;
}
tbody .active_tr td {
  color: black;
}    

    
#infosWithTable input:not(.li input){
  font-size: 14px;
  padding:0px;
  padding-left: 10px;
  height: 30px;
  outline: none;
  color: blue;
  margin-top:25px; 
  background:dodgerblue; /* for IE */         
  color:white !important; 
  border: 1px solid dodgerblue;
  cursor: pointer;
}
#infosWithTable select{
  font-size: 14px;
  padding:0px;
  padding-left: 10px;
  height: 30px;
  outline: none;
  color: blue;
  margin-top:25px; 
  background:dodgerblue; /* for IE */         
  color:white !important; 
  border: 1px solid dodgerblue;
  cursor: pointer;
}
#infosWithTable #label{
 background-color:#F8F8FF;
 border: none;
}
#infosWithTable #button input{
  font-size: 15px;
  padding:0px;
  padding-left: 10px;
  height: 35px;
  outline: none;
  margin-top:25px; 
  /* for IE */         
  cursor: pointer;border:none;
}
#infosWithTable #button .valider{
   background:#98fb98;
    color:white !important;
}
#infosWithTable #button .valider:hover{
   background:#3cb371;
    color:white !important;
}
#infosWithTable #button .annuler{
   background:#F8F8FF;
    color:#fa8072 !important; border: 1px solid #fa8072;
  
}#infosWithTable #button .annuler:hover{
   background:#F8F8FF;
    color:	red !important; border: 1px solid 	red;
  
}
      
.data_nav.main{
    border: 1px solid #dddddd;   
}

.data_nav.main{
    background-color: white;
    border: 1px solid #dddddd; 
    border: none;
}
#content{
    border: 1px solid #dddddd;    
} 
.costum_li{
    min-height:550px;
}
   
    
main {
    padding: 30px 10px 10px 10px;
}
  
    
.horizontal-scroll{
    text-align:left;
}
.card{
    text-align:center;
}
.costum{
    display:contents;
}
    
    
       
    #second_content-data{
        padding-top:0px;
        border: 1px solid #dddddd;
    }
    
    table{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
table tbody tr{
  margin-top:10px;
}   
table tbody tr{
  font-size: 14px;
  height: 30px;
  outline: none;
  cursor: pointer;border: 1px solid #dddddd;border-radius: 10px;
}
    tbody{padding-right:20px;}
    
 tbody::-webkit-scrollbar{
   width: 4px;
   height: 4px;
   display:block;
}  
    
 .table{
   height:auto;position:relative;
}   
.costum_li{
    min-height:auto;height:auto;position:relative;padding-bottom: 20px;
}
    
thead td:first-child {
  border-radius: 0px 0 0 0px;border:none;
}

thead td:last-child {
  border-radius: 0 0px 0px 0;border:none;
}
    
    
#infosWithTable::-webkit-scrollbar,tbody::-webkit-scrollbar{
  width: 3px;
  height: 3px;
}
#infosWithTable::-webkit-scrollbar-track,tbody::::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}
#infosWithTable::-webkit-scrollbar-thumb,tbody::-webkit-scrollbar-thumb {
  background-color: #e96000;
  border-radius: 10px;
}
#infosWithTable::-webkit-scrollbar-thumb:hover,tbody::-webkit-scrollbar-thumb:hover {
  background-color: #a5aaad;
}
    
    .data_nav ul li:hover{background-color: #F8F8FF;} 
    .data_nav ul li:not(#right_li):hover{
    background-color: #fff;
    color: #0984e3;
}
    

    
i{
   color: black;     
}    
#sidebar .active a{background-color:var(--blue);color:white;}
    
#sidebar .active i{color:white;}
#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
    background-color: #e96000;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff6900), to(#e96000));
        background:  -moz-linear-gradient(25% 75% 90deg, #e96000, #ff6900);
	color: var(--light);
}
    
nav .profile .profile-link a:hover{
	background:white;
    color: mediumblue;
}
nav .profile .profile-link i{
    color: black;
}
nav .profile .profile-link a:hover i{
    color: mediumblue;
}





.data_nav.main{
    background-color: white;
    border: 1px solid #dddddd; 
    border: none;
}
#content{
    border: 1px solid #dddddd;    
} 
.costum_li{
    min-height:550px;
}
   
    
main {
    padding: 30px 10px 10px 10px;
}
  
    
.horizontal-scroll{
    text-align:left;
}
.card{
    text-align:center;
}
.costum{
    display:contents;
}
    
    
       
    #second_content-data{
        padding-top:0px;
        border: 1px solid #dddddd;
    }
    
    table{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
table tbody tr{
  margin-top:10px;
}   
table tbody tr{
  font-size: 14px;
  height: 30px;
  outline: none;
  cursor: pointer;border: 1px solid #dddddd;border-radius: 10px;
}
    tbody{padding-right:20px;}
    
 tbody::-webkit-scrollbar{
   width: 4px;
   height: 4px;
   display:block;
}  
    
 .table{
   height:auto;position:relative;
}   
.costum_li{
    min-height:auto;height:auto;position:relative;padding-bottom: 20px;
}
    
thead td:first-child {
  border-radius: 0px 0 0 0px;border:none;
}

thead td:last-child {
  border-radius: 0 0px 0px 0;border:none;
}
    
    
#infosWithTable::-webkit-scrollbar,tbody::-webkit-scrollbar{
  width: 3px;
  height: 3px;
}
#infosWithTable::-webkit-scrollbar-track,tbody::::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}
#infosWithTable::-webkit-scrollbar-thumb,tbody::-webkit-scrollbar-thumb {
  background-color: #e96000;
  border-radius: 10px;
}
#infosWithTable::-webkit-scrollbar-thumb:hover,tbody::-webkit-scrollbar-thumb:hover {
  background-color: #a5aaad;
}
    
    .data_nav ul li:hover{background-color: #F8F8FF;} 
    .data_nav ul li:not(#right_li):hover{
    background-color: #fff;
    color: #0984e3;
}
    

    
i{
   color: black;     
}
    #sidebar .side-menu li a i:not(#sidebar .active i){
        color: black;
}
#sidebar .active a{background-color: #e96000;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff6900), to(#e96000));
        background:  -moz-linear-gradient(25% 75% 90deg, #e96000, #ff6900);color:white;}
#sidebar .edit{background-color:#F8F8FF;}   
#sidebar .active i{
    color:white;
}
    
#sidebar .active i{color:white;}
#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
    background:var(--blue) ;
	color: var(--light);
}
#sidebar .side-menu li:hover a{
	background-color: #F8F8FF;
}
#sidebar .side-menu li #rename{
        display: none;
    }   

nav .profile .profile-link a:hover{
	background:white;
    color: mediumblue;
}
nav .profile .profile-link i{
    color: black;
}
nav .profile .profile-link a:hover i{
    color: mediumblue;
}
    
    


#infosWithTable input::selection {
  color:darkblue;
  background-color:white;
}
    
    

body{min-width:600px;}
    
    
.btn {
  width: 100%;
  padding-right: 25px;
  text-align:right;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 5px;
  display: block;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
.btn:active {
  transform: scale(0.95);
}
    
    
table thead{
    display: none;
}
    
   
.top_nav #search input:focus{
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;        
}
.div #button input:focus{
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;        
}